# Ignore Book PDFs
Konyvek
# Ignore temporary files
*~*
*.drawio.bkp
*.cache
# Ignore application-specific files
*.ggb
## Visual Studio files
.vs
obj
Properties
*.exe
*.pdb

# Ignore Adatbázis kezelés and Szoftver tesztelés documents
*/AdatbazisKezeles/20*.docx
Szoftverteszteles.docx
# Archive files
*.zip
*.7z
